# MONGO DB
MONGODB_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/?appName=<app-name>

# REDIS
REDIS_HOST=<redis-host>
REDIS_PORT=6379
REDIS_USERNAME=<redis-username>
REDIS_PASSWORD=<redis-password>

# JWT TOKEN
JWT_SECRET=<jwt-secret>
